alembic==1.8.1
Flask==2.1.2
Flask_Admin==1.6.0
Flask_Bcrypt==1.0.1
flask_ldap3_login==0.9.18
Flask_Login==0.6.1
Flask_Migrate==3.1.0
Flask_SQLAlchemy==2.5.1
Flask_WTF==1.0.1
gunicorn==20.1.0
icalendar==5.0.4
jicson==1.0.2
pytz==2022.7.1
requests==2.28.1
SQLAlchemy==1.4.36
WTForms==3.0.1
