body {
    background: rgb(204,204,204); 
  }
  page {
    position: relative;
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
  page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }
  
  header,
  footer {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #ccc;
    padding-right: 1.5cm;
    padding-left: 1.5cm;
  }
  header:after{
    content: "Header";
  }
  footer:after{
    content: "Footer";
  }
  
  header {
    top: 0;
    padding-top: 5mm;
    padding-bottom: 3mm;
  }
  footer {
    bottom: 0;
    color: #000;
    padding-top: 3mm;
    padding-bottom: 5mm;
  }
  
  @media print {
    body, page {
      margin: 0;
      box-shadow: 0;
    }
    header,
    footer {
      position: fixed;
      left: 0;
      right: 0;
      background-color: #ccc;
      padding-right: 1.5cm;
      padding-left: 1.5cm;
    }
  }