.caltable td, th {
    padding: 4px;
    text-align: center;
}

.caltable .wday {
    background-color:#d1e7dd;
}

.caltable .today {
    background-color: #cfe2ff;
}

.caltable .urlday {
    outline: 2px solid black;
    outline-offset: -2px;
}

.caltable .urltoday {
    outline: 2px solid black;
    outline-offset: -2px;
    outline-style: double;
}

.calurl:link, .calurl:visited {
    color: black;
    text-decoration: none;
}