.caltable td, th {
    padding: 4px;
    text-align: center;
}

.caltable .wday {
    background-color:#d1e7dd;
}

.caltable .today {
    background-color: #cfe2ff;
}

.caltable .urlday {
    outline: 2px solid black;
    outline-offset: -2px;
}

.caltable .urltoday {
    outline: 2px solid black;
    outline-offset: -2px;
    outline-style: double;
}

.calurl:link, .calurl:visited {
    color: black;
    text-decoration: none;
}

.login-form, .signup-form, .booking-form {
    width: 440px;
    margin: 50px auto;
}

.login-form h2, .signup-form h2, .booking-form h2 {
    margin: 0 0 15px;
}

.login-form form, .signup-form form, .booking-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form .btn, .signup-form .btn, .booking-form .btn {
    font-size: 15px;
    font-weight: bold;
}

.login-form a, .signup-form a, .accordion a {
    text-decoration: none;
}

.modal img {
    border-radius: 10%;
}

.name{
	font-size: 15px;
	font-weight: bold;
	color: #272727;
	position: relative;
	top: 8px;
}
.mail{
	font-size: 14px;
	color: grey;
	position: relative;
	top: 2px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 80vh;
    background: #f9f9f9;
  }
  
#hero .container {
  padding-top: 84px;
}

#hero h1 {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  line-height: 56px;
  color: #0f394c;
  text-transform: uppercase;
}

#hero h2 {
  color: #1c698c;
  margin: 10px 0 0 0;
  font-size: 20px;
}

#hero .btn-get-started {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 3px;
  transition: 0.5s;
  margin-top: 25px;
  color: #fff;
  background: #49b5e7;
  text-transform: uppercase;
}

#hero .btn-get-started:hover {
  background: #76c7ed;
}
  