{% extends 'base.html' %}
{% block content %}
  <br>
  <h1>Error 404</h1>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="row justify-content-center">
        <div class="alert alert-{{category}} alert-dismissible fade show col-sm-10 col-md-10 col-lg-8" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endblock %}