{% extends 'base.html' %}
{% block content %}

       <p>Booking of {{ data.room }} - Pod {{ data.pod }}, {{ data.caldate }} {{ data.hr }}:00</p>

       <!-- TODO: #6 Convert to proper flask form-class -->
       <form class="row g-3" method="post">
              <div class="col-md-6">
                     <label for="booker" class="form-label">Användare</label>
                     <input type="text" class="form-control" id="booker" name="booker" value="{{ current_user.username }}" readonly>
                     <label for="partner" class="form-label">Labbpartner</label>
                     <input type="text" class="form-control" id="partner" name="partner">
                     <br/>
                     <label for="comment" class="form-label">Kommentar</label>
                     <input type="text" class="form-control" id="comment" name="comment" required>
                     {% if current_user.role.name == 'Admin' %}
                            <input type="hidden" id="status" value="UNAVAILABLE" name="status">
                     {% else %}
                            <input type="hidden" id="status" value="AVAILABLE" name="status">
                     {% endif %}
                     <br>
                     <button type="submit" class="btn btn-primary">Submit</button>
              </div>
       </form>
{% endblock %}