<html>
    <head>
        <title>Book room</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
    </head>
    <body>
        <p>This is a booking test!</p>
        <form method="post">
            <label for="title">Title</label>
            <br>
            <input type="text" name="namn1"
                   placeholder="Namn 1"
                   value="{{ request.form['namn'] }}"></input>
            <br>

        </form>
    </body>
</html>