{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<h1>Debug page</h1>
{% if debugdata|length > 0 %}
  
  <table class="table table-striped table-bordered" style="border-collapse:separate;border-spacing:5px;width:inherit !important;">
    <tr>
      <th class="table-primary">Date</th>
      <th class="table-primary">Time</th>
      <th class="table-primary">Location</th>
      <th class="table-primary">Comment</th>
      <th class="table-primary">❔</th>
    </tr>
    {% for b in debugdata %}
      <tr>
        <td class="table-primary" style="width:1% !important;white-space: nowrap !important;border-radius:10px">{{ debugdata[b]['date'][0] }}</td>
        <td class="table-primary" style="width:1% !important;white-space: nowrap !important;border-radius:10px">{{ debugdata[b]['date'][1] }}:00-{{ debugdata[b]['date'][1] + 2}}:00</td>
        <td class="table-primary" style="width:1% !important;white-space: nowrap !important;border-radius:10px">{{ debugdata[b]['room'] }} Pod {{ debugdata[b]['pod'] }}</td>
        <td class="table-primary">{{ debugdata[b]['comment'] }}</td>
        <td class="table-primary" style="width:1% !important;white-space: nowrap !important;border-radius:10px">
          <a href="{{baseurl}}delete/{{ debugdata[b]['room'] }}/{{ debugdata[b]['date'][0] }}/{{ debugdata[b]['date'][1] }}/{{ debugdata[b]['pod'] }}"><i class="bi bi-file-earmark-x-fill"></i></a></td>
      </tr>
    {% endfor %}
  </table>
{% endif %}

<div class="container mt-3">
    <p>Click on the button to toggle between showing and hiding content.</p>
    <a href="#" data-bs-toggle="collapse" data-bs-target="#demo"><i class="bi bi-caret-right-fill"></i></a>
    <div id="demo" class="collapse border border-2 border-top-0 p-2">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </div>

<button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="window.print()">Print</button>
<a class="btn btn-primary" href="{{baseurl}}show" target="_blank" role="button">Popup</a>

{% endblock %}
