{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<h1>Debug page</h1>

<div class="container my-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h4 style="margin-left: 1.2rem;">Podbooking updates</h4>
      <ul class="timeline-3">
        <li><b>
          <span>Added calendar integration</span>
          <span class="float-end">13 March, 2023</span></b>
          <p class="mt-2">When performing regular bookings, you will now be able to see a link to an calendar file in the confirmation message of the booking event.
            Clicking this will give you a booking that you can import into your regular calendar on your device. (The file is in the iCalendar format)<br><br>
            In addition, visiting your profile page will display a list of all your upcoming bookings along with links to calendar files for each booking.
            You are also able to delete your bookings from this page. (You can reach your profile page by clicking the dropdown list under your name in the top right corner.)</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-3">
    <p>Click on the button to toggle between showing and hiding content.</p>
    <a href="#" data-bs-toggle="collapse" data-bs-target="#demo"><i class="bi bi-caret-right-fill"></i></a>
    <div id="demo" class="collapse border border-2 border-top-0 p-2">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </div>

<button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="window.print()">Print</button>
<a class="btn btn-primary" href="{{baseurl}}show" target="_blank" role="button">Popup</a>

{% endblock %}
