{% extends 'base.html' %}
{% block content %}
  <br>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="row justify-content-center">
        <div class="alert alert-{{category}} alert-dismissible fade show col-sm-10 col-md-10 col-lg-8" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="row justify-content-center flex-nowrap">
    <div class="accordion col-sm-10 col-md-10 col-lg-8" id="accordionHelp">
        <h2 class="page-title">&nbsp;Vanliga frågor</h1>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              "Varför kan jag inte logga in?"
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionHelp">
            <div class="accordion-body">
              Se till att du använder samma användarnamn som när du registrerade dig. Det går även att använda endast det korta aliaset, se exemplet nedan.<br>
               <code>stna0001@student.hv.se < JA</code><br>
               <code>stna0001 < JA</code><br>
               <code>student.studentsson@student.hv.se < NEJ</code><br><br>
              Om du inte har registrerat dig måste du göra det <a href="{{ url_for('signup') }}">här.</a>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              "Varför fungerar inte mitt lösenord?"
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionHelp">
            <div class="accordion-body">
              Om du har ändrat till HV-lösenord efter registreringen på podbokningen ändras det inte här också. Kontakta Simon för att ordna en ändring om du inte kommer ihåg ditt gamla HV lösenord.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              "Varför kan jag inte skapa ett konto?"
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionHelp">
            <div class="accordion-body">
              För att skapa ett konto måste du ha ett aktivt studentkonto på Högskolan Väst. Använd det korta aliaset enligt instruktioner på <a href="{{ url_for('signup') }}">registreringssidan.</a> Du behöver använda samma lösenord som du har satt för ditt HV-konto.<br>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              "Varför kan jag inte boka en pod?"
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionHelp">
            <div class="accordion-body">
              Alla studenter är begränsade till max 2 bokningar samtidigt. Om du får meddelandet <code>"Not permitted to book pod at this time! You have too many booked slots!"</code> betyder det att du har nått den gränsen och måste vänta till nästa pass för att göra en ny bokning.<br><strong>Bokningar som har passerat, eller gått ut räknas inte mot den här begränsningen.</strong><br><br>
              Om ett pass för en pod är rödmarkerad betyder det att den är reserverad av en lärare.
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                "Varför kan jag inte avboka en pod, det har gått förut?"
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionHelp">
              <div class="accordion-body">
                Du kan avboka en bokning utan problem så länge du gör det inom 45 minuter efter att passet har startat. Efter det låses bokningen och kan inte längre tas bort.
              </div>
            </div>
          </div>
      </div>
    </div>

{% endblock %}