{% extends 'base.html' %}
{% block content %}
  <br>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="row justify-content-center">
        <div class="alert alert-{{category}} alert-dismissible fade show col-sm-10 col-md-10 col-lg-8" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="row justify-content-center flex-nowrap">
    <div class="accordion col-sm-10 col-md-10 col-lg-8" id="accordionHelp">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('help') }}">swedish</a></li>
            <li class="breadcrumb-item active" aria-current="page">english</li>
          </ol>
        </nav>
        <h2 class="page-title">&nbsp;Frequently asked questions</h1>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <b>"Why can't I log in?"</b>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionHelp">
            <div class="accordion-body">
              You must use the same username you provided when you registered. You can also use the short alias, see the example below.<br>
               <code>stna0001@student.hv.se < YES</code><br>
               <code>stna0001 < YES</code><br>
               <code>student.studentsson@student.hv.se < NO</code><br><br>
               If you haven't yet registered for the booking system you can do that <a href="{{ url_for('signup') }}">here.</a>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <b>"My password isn't working!"</b>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionHelp">
            <div class="accordion-body">
              If you have changed your main HV-password after registering on the booking system this change will not be reflected here. 
              Please contact <a href="mailto:simon.olofsson@hv.se?Subject=GETAPOD Lost password"> webmaster</a> if you cannot remember your old HV password.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <b>"Why can't I register an account?"</b>
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionHelp">
            <div class="accordion-body">
              In order to create an account you must have an active student account with University West. 
              Use the short alias described in the instructions on the <a href="{{ url_for('signup') }}">register</a> page.
              You need to use the same password that is set for your HV-account.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <b>"Why can't I book a pod?"</b>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionHelp">
            <div class="accordion-body">
              All students are limited to a maximum of 2 reservations at the same time. If you are shown the message <code>"Not permitted to book pod at this time! You have too many booked slots!"</code> 
              this means you have hit this limit and must wait for the next timeslot before you can make another reservation.
              <br><br><strong>Expired reservations will not count towards this maximum.</strong><br><br>
              If a timeslot for a pod is marked in red this means it has been reserved by a member of the teaching staff.
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <b>"I am unable to remove a reservation despite being able to in the past"</b>
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionHelp">
              <div class="accordion-body">
                You can cancel a reservation without issues as long as you do it before the timeslot has begun. After this the reservation is locked and can no longer be cancelled.
              </div>
            </div>
          </div>
      </div>
    </div>

{% endblock %}