{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-start">
    <div class="container">
      <div class="row align-items-start">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">swedish</li>
              <li class="breadcrumb-item"><a href="{{ url_for('index') }}en">english</a></li>
            </ol>
          </nav>          
          <h1>Bokning av Cisco utrustning</h1>
          <h2>I våra Cisco salar finns utrustning för alla nivåer av studier, som CCNA, CCNP, CyberSecurity samt brandväggar i flera utföranden.  
            Ett krav för att slutföra din utbildning och få en bra start i branschen är att du behärskar den riktiga utrustningen och 
            det är precis den möjligheten du får i våra labbsalar.<br><br>
            <b>Salarna D119A, D119B, D204A, D216A samt D216B är alla tillgängliga för studenter att boka.</b>
            <br><br>
            Disciplin och hårt arbete i dessa salar har sett till att de studenter
            som tar sin examen går direkt ut till jobb!</h2>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{{ url_for('static', filename='images/rack.jpg')}}" class="img-fluid rounded shadow mb-5 bg-body" alt="">
        </div>
      </div><br>
      <div class="row">
        <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Bokningsregler</h1>
          <h2>
          <ul>
            <li>Du kan endast boka max två tider samtidigt i Cisco salarna.</li>
            <li>Om studenten som har bokat en pod ej kommer inom 15 Minuter efter bokad tid är podden fri att använda av andra studenter.</li>
            <li>Boka ej dessa två pass så de passerar över lunchtiden (Alltså från 10:00 - 15:00) utan håll dig till förmiddag/eftermiddag om du bokar dubbla pass.</li>
            <li>Ställ i ordning efter dig i god tid så nästa labbpass kan starta på utsatt tid.</li>
            <li>När du bokar se till att du i första hand labbar tillsammans med en klasskamrat så utrustningen räcker till alla tidsmässigt.</li>
            <li>All mat och dryck får ej passera längre in i salen än småborden som finns vid dörren i alla salar.</li>
            <li>Schemalagd aktivitet har alltid företräde för utrustningen, se <a href="https://schema.hv.se">schema.hv.se</a> eller längst ner på bokningssidan för salen för aktuella schemalagda pass.</li>
          </ul> 
              <b>Bryter du mot dessa regler upprepade gånger kan din access till den bokningsbara utrustningen komma att begränsas eller dras in helt.</b><br>
          </h2>
          {% if rr == 'Null' %}
            <div><a href="{{url_for('show', room='D119A')}}" class="btn-get-started scrollto">Jag förstår, ta mig till salarna!</a></div>
          {% else %}
            <div><a href="{{url_for('show', room=rr)}}" class="btn-get-started scrollto">Jag förstår, ta mig till sal {{ rr }}!</a></div>
          {% endif %}
        </div>
      </div>
      <div class="row" style="height: 50px;"></div>
    </div>
  </section><!-- End Hero -->
  <div style="flex-grow:1"></div>
{% endblock %}
