{% extends 'base.html' %}
{% block content %}
  <br>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="row justify-content-center">
        <div class="alert alert-{{category}} alert-dismissible fade show col-sm-10 col-md-10 col-lg-8" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="row justify-content-center flex-nowrap">
    <div class="container my-5">
      <div class="row">
        <div class="col-xl-6 offset-xl-3 col-lg-6 offset-lg-3">
          <h4 style="margin-left: 1.2rem;">Podbooking updates</h4>
          <ul class="timeline-3">
            {% for item in news %}
              <li><b>
                <span>{{ item['date'] }}</span><br>
                <span>{{ item['title'] }}</span>
                </b>
                <p class="mt-2">
                  {% for paragraph in item['content'] %}
                    {{ paragraph }}
                    {% if not loop.last %}
                      <br><br>
                    {% endif %}
                  {% endfor %}
                </p>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}