{% extends 'base.html' %}
{% block content %}

    <table class="table">
    <tr valign="top">
        <td>
            <span class="rubrik">Booking of {{ show['room']['name'] }}</span><br>
            <span class="brodtext"><font color=red size=+1>RULES:
                <br>&nbsp;- Book only two slots (4 hours) in advance'
                <br>&nbsp;- PODs are free to use 20 minutes after NoShow'
                </font></span>
                <hr>
                <a href="http://localhost:5000/show/{{ show['room']['name'] }}/{{show['dates']['yesterday']['date']}}">Igår</a>
                <a href="http://localhost:5000/show/{{ show['room']['name'] }}/{{show['dates']['tomorrow']['date']}}">Imorgon</a>
                <table class="table table-striped">
                    <tr>
                        <th class="table-primary">Time</th>
                        {% for pod in show['room']['pods'] %}
                        <th class="table-primary">Pod {{ pod }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                    {% for hour in show['clocks'] %}
                        <td>{{ hour }}-{{ hour+2 }}</td>
                        {% for pod in show['query'][hour] %}
                            <td class="align-middle">{{ show['query'][hour][pod]|safe }}</td>
                            {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
        </td>
    </tr>
    </table>
{% endblock %}