{% extends 'base.html' %}
{% block content %}
        <br/>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="signup-form">
            <form method="post">
            <h4>Student signup form</h4>
            Enter your short HV email and your HV password!<br><br>
            stna0001@student.hv.se « <b>YES</b><br>
            student.name@student.hv.se « <b>NO</b><br><br>
            
                <div>
                    {{ form.csrf_token }}
                    {{ form.next(value=request.args.get('next', '')) }}
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control") }}
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                    <br/>
                    {{ form.submit(class="btn btn-primary col-12", value="Sign up") }}
                </div>
            </form>
        </div>

{% endblock %}
