<h2>Arkiverade skillar</h2>
  
{% if numskills[2] > 0 %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="min"><div class="text-start"></div></th>
        <th scope="col"><div class="text-start">Skapad</div></th>
        <th scope="col"><div class="text-start">Namn</div></th>
        <th scope="col"><div class="text-start">Kurs</div></th>
        <th scope="col"><div class="text-start">LP</div></th>
        <th scope="col"><div class="text-start">Datum</div></th>
        <th scope="col"><div class="text-start">Salar</div></th>
        <th scope="col"><div class="text-start">Tider</div></th>
        <th scope="col"><div class="text-start">Action</div></th>
        <th scope="col"><div class="text-start"><i class="bi bi-archive"></i></div></th>
      </tr>
    </thead>
    <tbody>
    {% for skill in all|reverse %}
      {% if skill.status == 'ARCHIVED' %}
        <tr>
          <td class="min table-muted">
            <a href="#" data-bs-toggle="tooltip"
              data-bs-title="Skapad av: {{ skill.owner }}">
            <i class="bi bi-file-person"></i></a>
          </td>
          <td class="min table-muted">
            {% set created = sec_to_date(skill.created, 1).split() %}
            {{ created[0] }}
          </th>
          <td>{{ skill.name }}</td>
          <td>{{ skill.course}}</td>
          <td>{{ skill.period }}</td>
          <td>
            {% set date_l = skill.standard_dates.split(',') %}
            {% for date in date_l %}
              {{ date }}<br>
            {% endfor %}
          </td>
          <td>
            {% set room_l = skill.standard_rooms.split(',') %}
            {% for room in room_l %}
              {{ room }}<br>
            {% endfor %}
          </td>
          <td>
            {% set standard_times_l = skill.standard_times.split(',') %}
            {% for time in standard_times_l %}
              {{ time }}<br>
            {% endfor %}
          </td>
          <td class="min">
            <a href="{{ url_for('skilldates', id=skill.id) }}" 
              data-bs-toggle="tooltip" 
              data-bs-title="Edit skill">
                <i class="bi bi-pencil-square"></i></a>&nbsp;
            {% if skill.comment|length > 0 %}
            <a href="#" data-bs-toggle="tooltip"
              data-bs-title="{{ skill.comment }}"><i class="bi bi-chat-left-text"></i></a>
            {% endif %}
          </td>
            <td class="min">
              <a href="{{ url_for('skillstatus', id=skill.id, status='HIDDEN') }}" data-bs-toggle="tooltip" data-bs-title="Retrieve from archive"><i class="bi bi-upload"></i></i></a>
            </td>
        </tr>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>Inga arkiverade skillar!</p>
  {% endif %}
  </tbody>
</table>