{% extends 'base.html' %}
{% block content %}
  <br>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="row justify-content-center">
        <div class="alert alert-{{category}} alert-dismissible fade show col-sm-10 col-md-10 col-lg-8" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <p>Test page</p>

  <body style = "text-align:center;"> 
    <div>
      <form class="row g-3">
            {% for _ in range(1,7) %}
            <div class="row">
              <div class="col-sm-8">
                <label for="timeslot{{_}}" class="visually-hidden"></label>
                {% if _ > 1 %}
                  <input type="text" class="form-control" id="timeslot{{_}}" placeholder="Enter timeslot {{_}}" disabled>
                {% else %}
                  <input type="text" class="form-control" id="timeslot{{_}}" placeholder="Enter timeslot {{_}}">
                {% endif %}
              </div>
              <div class="col-auto">
                {% if _ > 1 %}
                  <button onclick = "toggle_timeslots('timeslot{{_}}', 'timeslot{{_}}btn')" class="btn btn-success mb-3" type="button" id="timeslot{{_}}btn"><i class='bi bi-pencil-square'></i></button>
                {% else %}
                  <button onclick = "toggle_timeslots('timeslot{{_}}', 'timeslot{{_}}btn')" class="btn btn-primary mb-3" type="button" id="timeslot{{_}}btn" style="visibility: hidden;">enable</button>
                {% endif %}
              </div>
             </div>
            {% endfor %}

      </form>
    </div>
    
 <script>
     function toggle_timeslots(input_id, button_id) {
         const fstatus = document.getElementById(input_id);
         if (fstatus.disabled) {
           document.getElementById(input_id).disabled = false;
           document.getElementById(input_id).value = '';
           document.getElementById(button_id).className = "btn btn-danger mb-3";
           document.getElementById(button_id).innerHTML = "<i class='bi bi-x-square-fill'></i>";
         } else {
           document.getElementById(input_id).disabled = true;
           document.getElementById(input_id).value = 'disabled';
           document.getElementById(button_id).className = "btn btn-success mb-3";
           document.getElementById(button_id).innerHTML = "<i class='bi bi-pencil-square'></i>";
         } 
     }
 </script>

{% endblock %}