{% extends 'base.html' %}
{% block content %}

<section class="h-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
              {% endfor %}
          {% endif %}
          {% endwith %}  
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row bg-dark" style="height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px; position: relative; top:-2rem;">
                <img src="https://mittkonto.hv.se/public/bilder/{{ user.profile }}"
                  alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                  style="width: 150px; z-index: 1">
                {% if current_user.is_authenticated %}
                    {% if current_user.username == user.username or current_user.role.name in ['Admin', 'Teacher'] %}
                        
                        <a class="btn btn-outline-dark custom-tooltip" data-toggle="tooltip" 
                            title="Refresh your profile picture from mittkonto.hv.se"
                            data-mdb-ripple-color="dark" style="z-index: 1;" 
                            href="{{ url_for('user', username=user.username, option='refresh') }}" 
                            role="button">
                            Refresh <font size="+1"><i class="bi bi-arrow-clockwise"></i></font>
                        </a>
                        
                    {% endif %}
                {% endif %}
              </div>
              <div class="ms-3" style="margin-top: 130px;">
                <h5><b>{{ user.fullname }}</b></h5>
                <p>{{ user.mail }}</p>
              </div>
            </div>
            <div class="p-4 text-black" style="background-color: #f8f9fa;">
              <div class="d-flex justify-content-end text-center py-1">
                <div>
                  <p class="mb-1 h5"></p>
                  <p class="small text-muted mb-0"></p>
                </div>
                <div class="px-3">
                  <p class="mb-1 h5"></p>
                  <p class="small text-muted mb-0"></p>
                </div>
                <div>
                  <p class="mb-1 h5">{{ get_user_hours(user.username) }}</p>
                  <p class="small text-muted mb-0">lab hours</p>
                </div>
              </div>
            </div>
            <div class="card-body p-4 text-black">
              <div class="mb-1">
                <br><br><br>
                <p class="lead fw-normal mb-1">About</p>
                <div class="p-4" style="background-color: #f8f9fa;">
                  {% if data|length > 0 %}
                    <table class="table" style="width:inherit !important;">
                      <tr>
                        <th class="table-primary">When</th>
                        <th class="table-primary">Where</th>
                        <th class="table-primary"><i class="bi bi-calendar3"></i></th>
                        <th class="table-primary"><i class="bi bi-trash"></i></th>
                      </tr>
                      {% for b in data %}
                        <tr>
                          <td style="width:1% !important;white-space: nowrap !important;text-align: center;"><b>{{ data[b]['date'][0] }}</b> {{ data[b]['date'][1] }}:00-{{ data[b]['date'][1] + 2}}:00</td>
                          <td style="width:1% !important;white-space: nowrap !important;text-align: center;">{{ data[b]['room'] }}, Pod {{ data[b]['pod'] }}</td>
                          <td style="width:1% !important;white-space: nowrap !important;text-align: center;">
                            <a href="{{ url_for('getcal', ics='ics')}}{{loop.index}}">Add</a>
                          </td>
                          <td style="width:1% !important;white-space: nowrap !important;text-align: center;">
                            <a href="{{ url_for('delete', room=data[b]['room'], caldate=data[b]['date'][0], hr=data[b]['date'][1], pod=data[b]['pod']) }}" style="color:red">Del</a>
                          </td>
                        </tr>
                      {% endfor %}
                    </table>
                  {% endif %}
                  <p class="font-italic mb-1">{{ user.role.name }}</p>
                  {% if current_user.is_authenticated %}
                    {% if current_user.username == user.username or current_user.role.name in ['Admin', 'Teacher'] %}
                        <p class="font-italic mb-1">Last seen:{{ unixtime(user.last_login) }}</p>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}